/* body, html{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
body{
  background-color: #fff6f5;
} */
.hidden{
  display: none;
}
/* header{
  background-color: #269bfa;
  padding-top: 10px;
}
.sitetitle{
  display: inline;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  margin-left: 10px;
}
.sitetitle:hover{
  color: #269bfa;
}
.navbar{
  float: right;
  font-family: sans-serif;
  font-weight: 400;
}
.navlink a{
  text-decoration: none;
  color: white;
  padding: 0 10px;
}
.navlink a:hover{
  color: #269bfa;
}
.navlist{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navitem{
  display: inline block;
  float: left;
  margin-left: 20px;
  padding-bottom: 5px;
  padding-top: 3px;
  font-size: 20px;
}
.active.navitem{
  border-bottom: 3px solid white;
}
.images{
  max-width: 100%;
  display: block;
}
.container{
  background-image: linear-gradient(#279bfa 85%, #fff6f5 85%);
}
.infowrapper{
  margin: 0 31% 0 5%;
  padding-top: 10px;
  display: flex;
}
.box{
  margin-top: 5px;
  flex-basis: 33%;
  background-color: white;
} */
